.heroSection {
  box-sizing: border-box;
  background-color: #1e71ff;
  min-height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 60px;
  padding-right: 60px;
}

.section {
  padding-left: 60px;
  padding-right: 60px;
}

.heroRightDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columnCenterFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doubleButton {
  display: flex;
  gap: 36px;
}

.whiteText {
  color: white;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 478px) {
}

.whiteButton {
  color: #1e71ff;
  background-color: white;
}

.transparentButton {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
